@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  padding-left: 140px;
  min-height: 64px;
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 460px;
  list-style-type: none;
  margin-left: 30px;
}

.navigation-user {
  justify-content: end;
  max-width: 132px;
  margin-right: 20px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  padding: 0 12px;
}

.main-page-header-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
  object-fit: cover;
}

.content {
  min-height: 100%;
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  padding: 0 70px;
  min-height: 64px;
  position: relative;
  z-index: 2;
}

.navigation-logo {
  height: 64px;
  width: 140px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 3;
}

.navigation-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-item {
  display: flex;
}

.catalog-filter-title {
  padding: 0;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.button.blue-background.button-filter {
  margin-bottom: 32px;
}

.main-page-header {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.sorting-title {
  margin: 55px 184px 47px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.select {
  width: 292px;
}

.view-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  align-items: center;
}

.product-view {
  display: block;
  margin: 0 auto;
}

.transition-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  padding: 0 289px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  max-width: 100%;
  width: 622px;
  word-wrap: break-word;
}

.transition-text {
  font-size: 22px;
  line-height: 26px;
  padding: 0 274px;
  color: #333333;
  max-width: 100%;
  width: 652px;
  margin: 0;
  word-wrap: break-word;
}

.transition.second {
  padding: 64px 0;
}

.transition-title.second {
  margin-bottom: 20px;
  padding: 0 348px;
  width: 505px;
}

.transition-text.second {
  padding: 0 355px;
  width: 490px;
}

.transition.third {
  padding: 96px 0;
}

.transition-title.third {
  padding: 0 451px;
  width: 298px;
  margin-bottom: 20px;
}

.transition-text.third {
  padding: 0 304px;
  margin-bottom: 54px;
  width: 592px;
}

.advantages {
  width: 1200px;
  margin: 0 auto;
}

.advantages-picture {
  object-fit: cover;
  width: 100%;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  box-sizing: border-box;
}

.advantages-title::after {
  margin: 30px auto 0;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  display: block;
}

.advantages-title.second {
  padding: 0 15px;
}

.advantages-title.third {
  padding: 0 24px;
}

.advantages-title.first::after, .advantages-title.second::after, .advantages-title.third::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.offers-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: inherit;
  margin: 30px 0;
  text-align: center;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.blue {
  grid-column: 1 / -1;
  display: flex;
}

.offers-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 81px 85px;
  margin: 0;
  box-sizing: border-box;
}
.offers-description {
  text-align: center;
  margin: 0;
}

.advantages-text {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 112px 85px;
  max-width: 400px;
  width: 100%;
}

.with-picture {
  padding-bottom: 102px;
  padding-top: 102px;
}

.page-footer-container {
  min-height: 120px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 40px 70px 30px;
}

.footer-social {
  display: flex;
  width: 144px;
  margin-right: 42px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link .social-link-img {
  fill: #83B3D3;
}

.social-link:hover .social-link-img, .social-link:focus .social-link-img {
  fill: #68A2CA;
}
.social-link:active .social-link-img {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone:hover, .footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.social-link-html{
  fill: #000000;
}

.html-contact-link:hover .social-link-html, .html-contact-link:focus .social-link-html {
  fill: #756157;
}

.html-contact-link:active .social-link-html {
  fill: rgba(117, 97, 87, 0.3);
}

.html-contact {
  margin-left: auto;
  max-width: 115px;
}

.footer-contacts {
  padding-left: 195px;
  padding-right: 195px;
}

.blue {
background-color: rgba(130, 179, 211, 1);
color: #ffffff;
}

.grey {
background-color: rgba(131, 179, 211, 0.2);
}

.newsletter {
  width: 1200px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/Subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog {
  color: #000000;
  background-color: #ffffff;
  background-image: none;
}

.subscribe {
  color: #ffffff;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.transition-text.subscribe {
  margin-bottom: 54px;
}

.field {
  background-color: #F2F2F2;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 24px;
  padding: 12px 20px;
  padding-right: 0;
}

.field-email {
  width: 452px;
  height: 52px;
  padding-bottom: 14px;
  padding-top: 14px;
}

.field-email:hover, .modal-input:hover {
  background-color: #E6E6E6;
}

.field-email:focus, .modal-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.newsletter-form {
  display: flex;
}

.range {
  margin-top: 12px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 12px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.select-control {
  width: 100%;
  padding: 14px 20px;
  font: inherit;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  background-image: url("../images/icons/Select.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  cursor: pointer;
}

.select-control:hover,
.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover, .button:focus {
  background-color: #615048;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-header {
  display: flex;
  align-self: center;
  padding: 8px 34px;
  line-height: 20px;
  font-size: 16px;
}

.blue-background {
  background-color: #82B3D3;
}

.button.blue-background:hover, .button.blue-background:disabled{
  background-color: #68A2CA;
}

.green-background {
  background-color: #7DB54F;
}

.button.green-background:hover, .button.green-background:disabled{
  background-color: #6C9E42;
}

.button-filter {
  font-size: 16px;
  line-height: 20px;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: inherit;
  text-decoration: none;
}

.catalog-filters {
  box-sizing: border-box;
  padding: 70px;
  padding-top: 35px;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.filter {
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 150px;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 140px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.control-label:hover {
  color: rgb(255, 255, 255, 0.6);
}

.control-label:active {
  color: rgb(255, 255, 255, 0.3);
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.form-payment {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  border: 0;
  width: 288px;
  display: flex;
  flex-direction: column;
}

.fields-payment {
  display: flex;
  margin-bottom: 36px;
}

.field-payment {
  width: 143px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.field-payment.left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.field-payment.right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.field-payment:not(:last-child) {
  margin-right: 2px;
}

.sorting {
  width: 1060px;
  margin: 0 70px;
  display: flex;
  align-items: center;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link, .breadcrumbs-link:focus {
  margin: 0;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6)
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3)
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.catalog-icon {
  display: block;
}

.catalog-filters-title {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
}

.control-input {
  line-height: 23px;
}

.control-input[type="checkbox"] {
  background-color: #ffffff;
  border-radius: 4px;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked {
  background-image: url(../images/icons/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 10px;
}

.control-input[type="radio"] {
  background-color: #ffffff;
  border-radius: 50px;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
}

.control-input[type="radio"]:checked {
  background-image: url(../images/icons/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 10px;
}

.control-input[type="radio"]:hover, .control-input[type="checkbox"]:hover {
  background-color: rgb(255, 255, 255, 0.6);
}

.control-input[type="radio"]:focus, .control-input[type="checkbox"]:focus {
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"]:active, .control-input[type="checkbox"]:active {
  background-color: rgb(255, 255, 255, 0.3);
}

.no-background {
  background-color: inherit;
}

.no-background:hover {
  background-color: inherit;
  opacity: 60%;
}

.no-background:focus {
  background-color: inherit;
  border: 3px solid #83B3D3;
  box-sizing: border-box;
}

.no-background:disabled {
  background-color: inherit;
  opacity: 10%;
}

.button-view {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.button-view:hover {
  border-color: #000000;
}

.button-view:focus {
  border-color: #68A2CA;
}

.button-view:last-child {
  margin: 0;
}

.button-view-chosen, .button-view:active {
  border-color: #000000;
}

.product-list {
  margin: 0 70px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3,  340px);
  gap: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 340px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.product-card-link {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  background-color: inherit;
  text-decoration: none;
}

.product-card-title {
  margin: 16px 0;
}

.product-card-image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.product-card-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card-rating {
  display: flex;
  justify-content: space-between;
}

.product-card-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.button-info {
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  width: auto;
  padding-right: 26px;
  padding-left: 26px;
}

.blue-background.button-info {
  width: auto;
  padding-right: 20.5px;
  padding-left: 20.5px;
}

.product-rating {
  display: flex;
  align-self: center;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  padding: 8.5px 22.5px;
  border-radius: 4px;
  border: none;
}

.pagination {
  padding: 40px 0 0 0;
  margin: 40px 70px 60px;
  display: flex;
  list-style-type: none;
  border-top: 1px solid #E6E6E6;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link:hover, .pagination-link:focus {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link.last {
  padding-right: 18px;
  padding-left: 18px;
}

.pagination-current{
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  background-color: #F2F2F2;
}

.transition {
  text-align: center;
  box-sizing: border-box;
  max-width: 100%;
  padding: 70px 0;
  overflow: hidden;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.offers-picture {
  display: block;
  margin: 0 auto;
}

.newsletter.transition {
  padding: 96px 258px 104px;
}

 .navigation-link img {
  display: block;
}

.white-background {
  background-color: #ffffff;
}

.black {
  color: #000000;
}

/* ===== МОДАЛЬНОЕ ОКНО ===== */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(242, 242, 242, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 120px;
  z-index: 1;
}

.modal-hidden {
  display: none;
}

.modal {
  background-color: #ffffff;
  width: 717px;
  padding: 64px 70px;
  border-radius: 30px;
  position: relative;
  box-sizing: border-box;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-close {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
  box-sizing: border-box;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 16px;
  width: 20px;
  height: 2px;
  background-color: #000;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 48px;
}

.modal-field.finish {
  margin-bottom: 4px;
}

.information-text {
  margin-bottom: 23px;
  margin-left: 157px;
  font-size: 16px;
  color: #333333;
}

.modal-label {
  width: 137px;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.modal-label-age {
  padding: 0;
  margin: 0;
  font-weight: 700;
  padding-right: 46px;
  font-size: 20px;
  line-height: 24px;
}

.modal-label-age.children{
  padding-right: 10px;
}

.modal-input {
  width: 440px;
  height: 48px;
  padding: 0 20px;
  font-size: 18px;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-people {
  display: flex;
  justify-content: space-between;
}

.modal-person {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.counter {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.counter button {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.counter input {
  width: 31px;
  text-align: center;
  border: none;
  background: none;
}

.modal-submit {
  margin-top: 48px;
  width: 100%;
  height: 60px;
  font-size: 20px;
}

.info-link {
  padding-right: 46px;
}

.number {
  font-size: 18px;
  padding: 0;
}

.button-arithmetic {
  color: rgba(117, 97, 87, 0.3);
}

.button-arithmetic:hover {
  color: #000000;
}

.button-arithmetic:focus {
  color: #000000;
  outline: 3px solid #82B3D3;
}

.button-arithmetic:active {
  color: rgba(0, 0, 0, 0.2);
}

.modal-close:hover {
  background-color: #E6E6E6;
}

.modal-close:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.modal-close:active {
  background-color: #E6E6E6;
}

.modal-close:active::before, .modal-close:active::after {
  background-color: rgba(0, 0, 0, 0.3);
}
